<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (c) 2012-2016 Arne Schwabe
  ~ Distributed under the GNU GPL v2 with additional terms. For full terms see the file doc/LICENSE.txt
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.blinkt.openvpn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--<uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG" />-->

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!--<application-->
        <!--android:name=".core.ICSOpenVPNApplication"-->
        <!--android:allowBackup="true"-->
        <!--android:banner="@mipmap/banner_tv"-->
        <!--android:icon="@mipmap/ic_launcher"-->
        <!--android:label="@string/app"-->
        <!--android:supportsRtl="true"-->

        <!--tools:ignore="UnusedAttribute">-->
    <application
        android:networkSecurityConfig="@xml/networksecurityconfig"
        >
        <service
            android:name=".core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE" >
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name=".api.ExternalOpenVPNService"
            tools:ignore="ExportedService">

            <intent-filter>
                <action android:name="de.blinkt.openvpn.api.IOpenVPNAPIService" />
            </intent-filter>
        </service>






        <!--<provider-->
            <!--android:name=".FileProvider"-->
            <!--android:authorities="de.blinkt.openvpn.FileProvider"-->
            <!--android:exported="true"-->
            <!--android:grantUriPermissions="true"-->
            <!--tools:ignore="ExportedContentProvider" />-->

        <!--
        <receiver android:name="core.GetRestrictionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.GET_RESTRICTION_ENTRIES" />
            </intent-filter>
        </receiver>
        -->
    </application>

</manifest>
